.rounded-circle {
  width: 90%;
}
.rounded-circle:hover {
  width: 90.5%;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.personal_info {
  background-color: #fff;
  width: 65%;
  height: 140px;
  margin: -84px 17% 5px!important;
  padding-top: 15px;
  box-shadow: 0 4px 7px rgb(0 0 0 / 10%);
  padding-bottom: 10px;
  transition: all 1s ease-in-out;
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.team4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
  
}
.our_team_section {
  background-color: #f8f8f8;
  padding: 20px;
}

.team_section_title {
  margin: 10px auto;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 h5 {
    line-height: 22px;
    font-size: 18px;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
		font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  padding-right: 12px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.team4 ul {
  margin-left: 5px;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
